$txtBG: #1e1e1e;
$odd : #d3d3d3;
$even: gray;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#repos {
  background: $txtBG;
  color: $odd;
  .even {
    background: lighten( $txtBG, 2% );
    color: white;
  }
}
